
@model Company

<form method="post" class="border p-3 mt-4" enctype="multipart/form-data">
	<input asp-for="@Model.Id" hidden/>
	@* <div asp-validation-summary="All"></div> *@
	<div class="row">
		<div class="col-10">
			<div class="pb-2">
				<h2 class="text-center">@(Model.Id != 0 ? "Update" : "Create") company</h2>
				<hr />
			</div>
			<div class="mb-3 p-1">
				<label asp-for="@Model.Name">Name</label>
				<input asp-for="@Model.Name" type="text" class="form-control" />
				<span class="text-danger" asp-validation-for="@Model.Name"></span>
			</div>
			<div class="mb-3 p-1">
				<label asp-for="@Model.StreetAddress"></label>
				<textarea asp-for="@Model.StreetAddress" type="text" class="form-control"></textarea>
			</div>
			<div class="mb-3 p-1">
				<label asp-for="@Model.City"></label>
				<input asp-for="@Model.City" type="text" class="form-control" />
				<span class="text-danger" asp-validation-for="@Model.City"></span>
			</div>
			<div class="mb-3 p-1">
				<label asp-for="@Model.PhoneNumber">Phone number</label>
				<input asp-for="@Model.PhoneNumber" type="text" class="form-control" />
				<span class="text-danger" asp-validation-for="@Model.PhoneNumber"></span>
			</div>
			<div class="row">
				<div class="col-6 col-md-3">
					@if (Model.Id != 0)
					{
						<input type="submit" class="form-control btn btn-primary" value="Update" />
					}
					else
					{
						<input type="submit" class="form-control btn btn-primary" value="Create" />
					}
				</div>
				<div class="col-6 col-md-3">
					<a asp-controller="Company" asp-action="index" class="btn btn-outline-secondary form-control">Return</a>
				</div>
			</div>
		</div>
	</div>
</form>

@section Scripts
{
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: [
				// Core editing features
				'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
				// Your account includes a free trial of TinyMCE premium features
				// Try the most popular premium features until Mar 16, 2025:
				'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown', 'importword', 'exportword', 'exportpdf'
			],
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | image table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
			tinycomments_mode: 'embedded',
			tinycomments_author: 'Author name',
			mergetags_list: [
				{ value: 'First.Name', title: 'First Name' },
				{ value: 'Email', title: 'Email' },
			],
			ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
		});
	</script>
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
